
    #change_password:disabled{
     background-color:#cccccc;
     cursor:not-allowed;
    }

    :root {
        --card-bg: #5252FF;
        --hwe_light-blue: #1660b8;
        --hwe-bg-gray-5: #545454;
    }

    .hwe__light-theme .hwe_receipts {
        background: rgba(16, 113, 176, 0.15) !important;
        color: var(--hwe-verdun-green) !important;
    }

    .hwe__light-theme .hwe_receipts:hover {
        background: var(--hwe-verdun-green) !important;
        color: var(--hwe-light) !important;
    }

    .hwe__light-theme .hwe_receipts .hwe__icon-pdf {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5387 0.833344C14.0692 0.833344 14.5779 1.04406 14.953 1.41913C15.328 1.7942 15.5387 2.30291 15.5387 2.83334V4.16668H14.2054V12.1667C14.2054 12.6971 13.9947 13.2058 13.6196 13.5809C13.2445 13.956 12.7358 14.1667 12.2054 14.1667H2.87207C2.34164 14.1667 1.83293 13.956 1.45786 13.5809C1.08278 13.2058 0.87207 12.6971 0.87207 12.1667V10.8333H11.5387V12.1667C11.5388 12.33 11.5987 12.4876 11.7072 12.6096C11.8157 12.7316 11.9652 12.8096 12.1274 12.8287L12.2054 12.8333C12.3687 12.8333 12.5263 12.7734 12.6483 12.6649C12.7703 12.5564 12.8483 12.4068 12.8674 12.2447L12.8721 12.1667V2.16668H4.2054C4.04211 2.1667 3.88451 2.22665 3.76249 2.33515C3.64047 2.44366 3.56251 2.59318 3.5434 2.75534L3.53874 2.83334V9.50001H2.2054V2.83334C2.2054 2.30291 2.41612 1.7942 2.79119 1.41913C3.16626 1.04406 3.67497 0.833344 4.2054 0.833344H13.5387Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
    }

    .hwe__light-theme .hwe_receipts:hover .hwe__icon-pdf {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.861 0.833344C13.3914 0.833344 13.9001 1.04406 14.2752 1.41913C14.6503 1.7942 14.861 2.30291 14.861 2.83334V4.16668H13.5277V12.1667C13.5277 12.6971 13.317 13.2058 12.9419 13.5809C12.5668 13.956 12.0581 14.1667 11.5277 14.1667H2.19434C1.6639 14.1667 1.1552 13.956 0.780122 13.5809C0.40505 13.2058 0.194336 12.6971 0.194336 12.1667V10.8333H10.861V12.1667C10.861 12.33 10.921 12.4876 11.0295 12.6096C11.138 12.7316 11.2875 12.8096 11.4497 12.8287L11.5277 12.8333C11.691 12.8333 11.8486 12.7734 11.9706 12.6649C12.0926 12.5564 12.1706 12.4068 12.1897 12.2447L12.1943 12.1667V2.16668H3.52767C3.36438 2.1667 3.20678 2.22665 3.08475 2.33515C2.96273 2.44366 2.88477 2.59318 2.86567 2.75534L2.861 2.83334V9.50001H1.52767V2.83334C1.52767 2.30291 1.73838 1.7942 2.11346 1.41913C2.48853 1.04406 2.99724 0.833344 3.52767 0.833344H12.861Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    .hwe_payment_mxwidth {
        max-width: 70.8rem;
    }

    .hwe__payment_card {
        border-radius: 1.6rem;
        padding: 2rem;
        position: relative;
        max-width: 34.3rem;
    }

    .hwe__payment_card-bg {
        background-color: var(--card-bg);
    }

    .hwe__payment_card::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='169' height='218' viewBox='0 0 169 218' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.1' cx='-2.09961' cy='78.5' r='170.5' fill='white'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 0;
        top: 0;
        width: 16.9rem;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 16.6rem 23.7rem;
        border-radius: 1.6rem 0 0 1.6rem;
    }

    .hwe__payment_card::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='148' height='218' viewBox='0 0 148 218' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.1' cx='7.90039' cy='109.5' r='139.5' fill='white'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 0;
        top: 0;
        width: 16.9rem;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 14.5rem 24rem;
        border-radius: 1.6rem 0 0 1.6rem;
    }

    .hwe_card_btn>button {
        background-image: url({% static 'dashboard/images/close-btn.svg' %});
        width: 32px;
        height: 32px;
        background-repeat: no-repeat !important;
        background-size: 30px;
        border: none;
    }

    .hwe_card_digit>span>i {
        font-size: 10px;
        color: var(--hwe-bg-gray4);
    }

    .hwe_card_digit>span:last-child {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: var(--hwe-bg-gray4);
    }

    .hwe_cardholder_info span {
        color: var(--hwe-bg-gray4);
        display: inline-block;
        margin-bottom: 0.4rem;
    }

    .hwe_cardholder_info h5 {
        color: var(--hwe-light);
        margin-bottom: 0;
    }

    .hwe_card_brand {
        margin-bottom: 4.8rem;
    }

    .hwe_card_digit {
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }

    .hwe_custom_popup_wrapper {
        max-width: 40.8rem;
    }

    .hwe_custom_popup {
        padding: 3rem 2.5rem;
        margin-top: 0;
    }

    .hwe_header_btn {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background: rgba(16, 113, 176, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hwe_custom_popup>.modal-header {
        justify-content: center;
        border-bottom: none;
        padding-top: 0;
    }

    .hwe_header_btn .btn-close {
        background-image: url({% static 'dashboard/images/trash-dark.svg' %});
        font-size: 30px;
        background-repeat: no-repeat;
        opacity: 1;
        border: none;
        outline: none;
        width: 3rem;
        height: 3rem;
        background-size: 3rem;
    }

    .hwe_custom_popup .modal-body {
        text-align: center;
        padding-top: 0;
    }

    .hwe_custom_popup .modal-body .modal-title {
        line-height: 3rem;
        margin-bottom: 0.6rem;
    }

    .hwe_custom_popup .modal-body p {
        color: var(--hwe-bg-gray2);
        line-height: 2rem;
        margin-bottom: 0;
    }

    .hwe_custom_popup .modal-footer {
        border-top: none;
        padding-top: 2rem;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 0;
    }

    .hwe_custom_popup .modal-footer>button {
        min-width: 14.5rem;
        font-size: 1.8rem;
    }

    .hwe__dark-theme .hwe_header_btn .btn-close {
        filter: brightness(0) invert(1);
    }

    .hwe__dark-theme .hwe_custom_popup .modal-body p {
        color: var(--hwe-bg-gray3);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .hwe__Add_Payment {
        border: 1px dashed rgba(255, 255, 255, 0.1);
        border-radius: 1.6rem;
        height: 100%;
        gap: 1.2rem;
        max-width: 34.3rem;
    }

    .hwe__light-theme .hwe__Add_Payment {
        background-color: var(--hwe-light1);
        border-color: var(-hwe-light2);
    }

    .hwe__Add_method {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        border: 1px solid var(--hwe-light2);
        cursor: pointer;
    }

    .hwe__light-theme .hwe__Add_method>i {
        color: var(--hwe-verdun-green);
    }

    .hwe__dark-theme .hwe__Add_method {
        border-color: var(--hwe-bg-gray3);
    }

    .hwe__dark-theme .hwe__Add_Payment h4 {
        color: var(--hwe-bg-gray4);
    }

    .hwe__Add_Payment h4 {
        font-weight: 400;
        text-align: center;
    }

    .hwe__light-theme .hwe_modalFooter_btn>.hwe__btn-primary:hover {
        color: var(--hwe-light);
        background: var(--hwe-verdun-green);
    }

    .hwe_earnig_mxwidth {
        max-width: 69.5rem;
    }

    .hwe_earnig_main {
        background-image: url({% static 'dashboard/images/withdrawalAmount_bg.png'%});
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 80%;
        transition: background 1s ease;
    }

    .hwe__dark-theme .hwe_earnig_main {
        background-color: var(--hwe-bg-black2);
    }

    .hwe_earnig_mxwidth .hwe_earnig_main:hover {
        background-color: var(--hwe-verdun-green) !important;
    }

    .hwe_earnig_main:hover .hwe_amountIcon {
        background-color: var(--hwe-light);
    }

    .hwe__dark-theme .hwe_earnig_main:hover .hwe_amountIcon::after {
        filter: brightness(1) invert(0);
    }

    .hwe_earnig_main:hover .hwe_setup>span {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .hwe_earnig_main:hover .hwe_setup>span {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: var(--hwe-light) !important;
    }

    .hwe_earnig_main:hover .hwe_setup>span>i.bi-info-circle::before {
        filter: brightness(0) invert(1);
    }

    .hwe_earnig_main:hover .hwe_withdrawal_Amount .hwe__h1,
    .hwe_earnig_main:hover .hwe_withdrawal_Amount h4 {
        color: var(--hwe-light) !important;
    }

    .hwe_earnig_main:hover .hwe_amountIcon.hwe_amountIcon_hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .hwe_earnig_main:hover .hwe_amountIcon.hwe_amountIcon_hover::after {
        filter: brightness(0) invert(1);
    }

    .hwe_setup>span>i.bi-info-circle::before {
        font-size: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.93294 0.96875L13.2663 4.63542V11.9688L6.93294 15.6354L0.599609 11.9688V4.63542L6.93294 0.96875ZM6.93294 2.50942L1.93294 5.40408V11.2001L6.93294 14.0947L11.9329 11.2001V5.40408L6.93294 2.50942ZM6.93294 10.9688C6.2257 10.9688 5.54742 10.6878 5.04732 10.1877C4.54723 9.6876 4.26628 9.00933 4.26628 8.30208C4.26628 7.59484 4.54723 6.91656 5.04732 6.41647C5.54742 5.91637 6.2257 5.63542 6.93294 5.63542C7.64019 5.63542 8.31846 5.91637 8.81856 6.41647C9.31866 6.91656 9.59961 7.59484 9.59961 8.30208C9.59961 9.00933 9.31866 9.6876 8.81856 10.1877C8.31846 10.6878 7.64019 10.9688 6.93294 10.9688ZM6.93294 9.63542C7.28656 9.63542 7.6257 9.49494 7.87575 9.24489C8.1258 8.99484 8.26628 8.65571 8.26628 8.30208C8.26628 7.94846 8.1258 7.60932 7.87575 7.35927C7.6257 7.10923 7.28656 6.96875 6.93294 6.96875C6.57932 6.96875 6.24018 7.10923 5.99013 7.35927C5.74009 7.60932 5.59961 7.94846 5.59961 8.30208C5.59961 8.65571 5.74009 8.99484 5.99013 9.24489C6.24018 9.49494 6.57932 9.63542 6.93294 9.63542Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
        width: 1.4rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 1.6rem;
        transition: filter 1s ease;
    }

    .hwe_amountIcon {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;
        background: rgba(16, 113, 176, 0.15);
        position: relative;
        margin-top: 2rem;
    }

    .hwe_amountIcon::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.0612 9.63672H19.8612C19.7445 9.87005 19.6279 10.1034 19.3945 10.2201L16.8279 12.7867L16.7112 12.9034C16.5945 13.0201 16.4779 13.0201 16.3612 13.1367C16.2445 13.1367 16.2445 13.2534 16.1279 13.2534C16.0112 13.2534 16.0112 13.3701 15.8945 13.3701C15.7779 13.3701 15.7779 13.3701 15.6612 13.4867C15.5445 13.4867 15.4279 13.6034 15.4279 13.6034C15.3112 13.6034 15.1945 13.6034 15.0779 13.6034C14.9612 13.6034 14.9612 13.6034 14.8445 13.6034C14.7279 13.6034 14.7279 13.6034 14.6112 13.6034C14.4945 13.6034 14.3779 13.6034 14.2612 13.6034C14.1445 13.6034 14.0279 13.6034 14.0279 13.4867C13.9112 13.4867 13.9112 13.4867 13.7945 13.3701C13.6779 13.3701 13.6779 13.2534 13.5612 13.2534C13.4445 13.2534 13.4445 13.1367 13.3279 13.1367C13.2112 13.0201 13.0945 13.0201 12.9779 12.9034L12.8612 12.7867L10.0612 10.2201C9.82786 10.1034 9.7112 9.87005 9.59453 9.63672H5.39453C3.4112 9.63672 1.89453 11.1534 1.89453 13.1367V22.4701C1.89453 24.4534 3.4112 25.9701 5.39453 25.9701H24.0612C26.0445 25.9701 27.5612 24.4534 27.5612 22.4701V13.1367C27.5612 11.2701 26.0445 9.63672 24.0612 9.63672ZM7.72786 18.9701C7.02786 18.9701 6.5612 18.5034 6.5612 17.8034C6.5612 17.1034 7.02786 16.6367 7.72786 16.6367C8.42786 16.6367 8.89453 17.1034 8.89453 17.8034C8.89453 18.5034 8.42786 18.9701 7.72786 18.9701ZM14.7279 20.1367C13.4445 20.1367 12.3945 19.0867 12.3945 17.8034C12.3945 16.5201 13.4445 15.4701 14.7279 15.4701C16.0112 15.4701 17.0612 16.5201 17.0612 17.8034C17.0612 19.0867 16.0112 20.1367 14.7279 20.1367ZM21.7279 18.9701C21.0279 18.9701 20.5612 18.5034 20.5612 17.8034C20.5612 17.1034 21.0279 16.6367 21.7279 16.6367C22.4279 16.6367 22.8945 17.1034 22.8945 17.8034C22.8945 18.5034 22.4279 18.9701 21.7279 18.9701ZM13.9112 11.6201C14.3779 12.0867 15.0779 12.0867 15.5445 11.6201L18.2279 9.05339C18.6945 8.58672 18.6945 7.88672 18.2279 7.42005C17.7612 6.95339 17.0612 6.95339 16.5945 7.42005L15.8945 8.00339V3.80339C15.8945 3.10339 15.4279 2.63672 14.7279 2.63672C14.0279 2.63672 13.5612 3.10339 13.5612 3.80339V8.00339L12.9779 7.42005C12.5112 6.95339 11.8112 6.95339 11.3445 7.42005C10.8779 7.88672 10.8779 8.58672 11.3445 9.05339L13.9112 11.6201Z' fill='%23111111'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 50%;
        top: 50%;
        width: 3rem;
        height: 3rem;
        transform: translate(-50%, -50%);
        transition: filter 1s ease;
        background-repeat: no-repeat;
    }

    .hwe_withdrawal_Amount>div:last-child {
        margin-bottom: 2rem;
    }

    .hwe_withdrawal_Amount>div {
        margin-bottom: 1.2rem;
    }

    .hwe__dark-theme .hwe_amountIcon {
        background: rgba(255, 255, 255, 0.1);
    }

    .hwe__dark-theme .hwe_amountIcon::after,
    .hwe__dark-theme .hwe_setup>span>i.bi-info-circle::before {
        filter: brightness(0) invert(1);
    }

    .hwe_paid_Payouts .hwe_amountIcon::after {
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_9597_75102)'%3E%3Cpath d='M12.4292 15.0895C12.2667 14.927 12.1583 14.6562 12.1583 14.3853C12.1583 14.1145 12.2667 13.8437 12.5375 13.627C12.7542 13.4645 13.0792 13.3562 13.4583 13.302V15.577C12.9167 15.4145 12.5917 15.252 12.4292 15.0895Z' fill='%23111111'/%3E%3Cpath d='M14.2708 19.802V17.4187C14.8125 17.5812 15.1917 17.7437 15.4083 17.9062C15.5708 18.1228 15.6792 18.3395 15.6792 18.6645C15.6792 18.9895 15.5708 19.2062 15.3 19.4228C15.0292 19.6395 14.7042 19.7478 14.2708 19.802Z' fill='%23111111'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.4375 19.7477C3.4375 14.1144 8.04167 7.34357 13.7292 7.34357C19.4167 7.34357 24.0208 14.1144 24.0208 19.7477C24.0208 26.0311 18.0625 26.0311 13.7292 26.0311C9.39583 26.0311 3.4375 26.0311 3.4375 19.7477ZM14.325 21.2644C15.1917 21.2102 15.95 20.9394 16.4917 20.4519C17.0333 19.9644 17.3042 19.3144 17.3042 18.6102C17.3042 17.7977 17.0875 17.2019 16.6 16.8227C16.1125 16.3894 15.3542 16.0644 14.325 15.8477H14.2708V13.3561C14.9208 13.4644 15.5708 13.6811 16.1667 14.1144L17.0333 12.9227C16.1667 12.3269 15.2458 12.0019 14.2708 11.9477V11.2977H13.5125V11.9477C12.6458 12.0019 11.9417 12.2727 11.4 12.7602C10.8583 13.1936 10.5875 13.8436 10.5875 14.6019C10.5875 15.3602 10.8042 15.9561 11.2917 16.3352C11.7792 16.7144 12.4833 17.0394 13.5125 17.2561V19.8019C12.7 19.6936 11.9417 19.3144 11.1833 18.6644L10.2083 19.8019C11.1292 20.6686 12.2667 21.1561 13.4583 21.2644V22.2394H14.325V21.2644Z' fill='%23111111'/%3E%3Cpath d='M19.525 7.18107C17.7917 5.9894 15.8417 5.28523 13.7292 5.28523C11.6708 5.28523 9.72083 5.93523 7.93333 7.18107C6.85 5.77273 6.3625 4.2019 6.57917 2.68523C6.63333 2.4144 6.74167 2.19773 6.95833 2.03523C7.825 1.33107 9.07083 1.06023 10.2083 1.38523C10.75 1.54773 11.2375 1.81857 11.6167 2.0894C11.7293 2.14574 11.8355 2.20208 11.9374 2.25616C12.1295 2.35806 12.3064 2.45196 12.4833 2.52273C12.9167 2.63107 13.4042 2.63107 13.7833 2.4144C13.9688 2.30314 14.1288 2.1665 14.2982 2.02184C14.3762 1.95521 14.4563 1.88689 14.5417 1.81857C15.0292 1.33107 15.6792 0.789401 16.6 0.626901C17.6292 0.464401 18.55 0.897734 19.3083 1.2769C19.358 1.30669 19.4094 1.33647 19.4621 1.36693C19.6965 1.50261 19.9538 1.65155 20.175 1.87273C20.8792 2.5769 20.8792 3.44357 20.8792 4.0394C20.8792 5.44773 20.3917 6.53107 19.525 7.18107Z' fill='%23111111'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_9597_75102'%3E%3Crect width='26' height='26' fill='white' transform='translate(0.728516 0.302734)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    .hwe_earnig_mxwidth .hwe_paid_Payouts {
        background-image: none;
        background-color: rgba(30, 226, 172, 0.1);
    }

    .hwe_earnig_mxwidth .hwe_total_Earnings {
        background-image: none;
        background-color: rgba(16, 113, 176, 0.15);
    }

    .hwe__dark-theme .hwe_earnig_mxwidth .hwe_paid_Payouts {
        background-image: none;
        background: rgba(30, 226, 172, 0.1);
    }

    .hwe__dark-theme .hwe_earnig_mxwidth .hwe_total_Earnings {
        background-image: none;
        background: rgba(16, 113, 176, 0.15);
    }

    .hwe_total_Earnings .hwe_amountIcon::after {
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.468 1.19531C15.0289 1.19531 13.8465 2.37942 13.8465 3.81847V6.01952C13.8465 6.69189 14.1115 7.30356 14.5335 7.77114C14.1111 8.23731 13.8465 8.84834 13.8465 9.52105V10.6592C12.7769 10.1911 11.5986 9.92777 10.3587 9.92777C5.53679 9.92777 1.60742 13.8571 1.60742 18.679C1.60743 23.5009 5.53679 27.4251 10.3587 27.4251C11.8196 27.4251 13.1952 27.0599 14.407 26.4237C14.8791 27.0215 15.6155 27.4251 16.468 27.4251C16.468 27.4251 25.1808 27.4269 25.3764 27.4269C26.756 27.4269 27.8424 26.1873 27.8424 24.802V22.0438C27.8424 21.3715 27.5757 20.7615 27.1537 20.2939C27.5761 19.8278 27.8424 19.2167 27.8424 18.544V15.779C27.8424 15.1075 27.5765 14.4984 27.1554 14.0325C27.5765 13.5667 27.8424 12.9576 27.8424 12.286V9.52105C27.8424 8.84834 27.5761 8.23731 27.1537 7.77114C27.5757 7.30356 27.8424 6.69189 27.8424 6.01952V3.81847C27.8424 2.37942 26.6583 1.19531 25.2192 1.19531H16.468ZM16.468 8.64951H25.2192C25.7191 8.64951 26.0925 9.0212 26.0925 9.52105V12.286C26.0925 12.7859 25.7191 13.1576 25.2192 13.1576H17.1327C16.6835 12.6067 16.1648 12.1174 15.5964 11.6896V9.52105C15.5964 9.0212 15.9681 8.64951 16.468 8.64951ZM10.3638 13.1798L10.3604 13.1815C10.8436 13.1835 11.2338 13.5767 11.2319 14.0599V14.1949C12.1069 14.3134 12.857 14.8542 13.2535 15.6098C13.4776 16.0379 13.3124 16.5682 12.8844 16.7924C12.4568 17.0168 11.9284 16.8506 11.7036 16.4233C11.5472 16.1249 11.2433 15.9209 10.8696 15.9209H10.0562C9.51883 15.9209 9.11289 16.3252 9.11289 16.8625C9.11289 17.3997 9.51883 17.8075 10.0562 17.8075H10.3604C10.3733 17.8072 10.3899 17.8072 10.4031 17.8075H10.6646C12.1411 17.8075 13.351 19.0243 13.351 20.5007C13.351 21.782 12.4397 22.8644 11.2336 23.129V23.3016C11.2318 23.7821 10.8426 24.1711 10.3621 24.1731C9.87813 24.1761 9.4839 23.7856 9.48201 23.3016V23.1666C8.60866 23.0461 7.8576 22.507 7.4621 21.7533C7.2366 21.3253 7.40117 20.7956 7.82951 20.5708C8.25792 20.3455 8.78786 20.5109 9.01207 20.9399C9.16881 21.2383 9.47712 21.4423 9.85113 21.4423H10.6646C11.2019 21.4423 11.601 21.0379 11.601 20.5007C11.601 19.9635 11.2019 19.5574 10.6646 19.5574H10.3638H10.0596C8.58308 19.5574 7.3664 18.3406 7.3664 16.8642C7.3664 15.5855 8.28034 14.5051 9.48372 14.2376V14.0582C9.4818 13.5715 9.87716 13.1768 10.3638 13.1798ZM18.2367 14.9075H25.2192C25.7191 14.9075 26.0925 15.2792 26.0925 15.779V18.544C26.0925 19.0439 25.7191 19.4156 25.2192 19.4156H19.0672C19.0876 19.1724 19.1031 18.9274 19.1031 18.679C19.1031 17.3276 18.7864 16.0519 18.2367 14.9075ZM18.7391 21.1655H25.2192C25.7191 21.1655 26.0925 21.544 26.0925 22.0438V24.802C26.0925 25.3018 25.7191 25.6752 25.2192 25.6752H16.468C16.2362 25.6752 16.0402 25.5855 15.8887 25.448C17.2277 24.3517 18.2338 22.865 18.7391 21.1655Z' fill='%23111111'/%3E%3C/svg%3E%0A");
    }

    .hwe_password_mxwidth {
        max-width: 73.8rem;
    }

    .hwe_password_wrapper {
        padding: 2.4rem;
    }

    .hwe_Change_Password>h3 {
        margin-bottom: 2rem;
    }

    .hwe_Change_Password ul {
        color: var(--hwe-verdun-green);
    }

    .hwe_Change_Password ul>li:not(:last-child) {
        margin-bottom: 1rem;
    }

    .hwe_Change_Password ul>li>i {
        font-size: 1.5rem;
        margin-right: 0.9rem;
    }

    .hwe_Change_Password-form .hw__form-control {
        max-width: 41.8rem;
    }

    .hwe_Change_Password-form button {
        max-width: 41.8rem;
    }

    .hwe_Change_Password-form button:hover {
        background-color: var(--hwe-verdun-green);
        color: var(--hwe-light);
    }

    .hwe__dark-theme .hwe_Change_Password ul {
        color: var(--hwe-light);
    }

    .hwe__dark-theme .hwe_Change_Password>h3,
    .hwe__dark-theme .hwe_Change_Password p {
        color: var(--hwe-bg-gray4);
    }

    .hwe_mb-20 {
        margin-bottom: 2rem;
    }

    .hwe__plan-subscribe {
        padding-bottom: 4rem;
    }

    .hwe_currentPlan_wrap {
        max-width: 26.1rem;
    }

    .hwe_currentPlan {
        padding: 2.4rem 3.4rem;
    }

    .hwe_plan_mxwidth {
        max-width: 107.2rem;
        padding: 1.2rem 0;
    }

    .hwe_Current_Plan_gold {
        margin-bottom: 2.2rem;
    }

    .hwe_currentPlan>h3 {
        margin-bottom: 2.2rem;
    }

    .hwe__input-switch {
        gap: 1.4rem;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box {
        border-radius: 1.2rem;
        padding: 2rem;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: border .3s ease-in-out;
        background-color: var(--hwe-bg-black2);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box:hover {
        background: linear-gradient(var(--hwe-bg-black2) 0 0) padding-box, linear-gradient(to right, var(--hwe-primary), var(--hwe_light-blue)) border-box;
    }

    .hwe_plan_Box .hwe__mr-8 {
        margin-right: 0.8rem !important;
    }

    .hwe_plan_Box .hwe__plan-price,
    .hwe_plan_Box .hwe__currency {
        font-size: 4rem;
        line-height: 4.8rem;
        font-weight: 600;
    }

    .hwe_plan_Box .hwe__plan-limit {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 3rem;
        color: var(--hwe-bg-gray-5);
        font-weight: 500;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active {
        background: var(--hwe-verdun-green) !important;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box>button.hwe__btn {
        font-size: 1.8rem;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active>button.hwe__btn {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--hwe-light);
    }

    .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active>button.hwe__btn-primary:hover,
    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active>button.hwe__btn-primary:hover {
        background-color: var(--hwe-light);
        color: var(--hwe-verdun-green);
    }

   .hwe__light-theme .hwe__plan-subscribe-box.hwe__active .hwe__plan-price, .hwe__light-theme .hwe__plan-subscribe-box.hwe__active .hwe__currency {
  color: var(--hwe-light);
}

    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active h4 {
        color: var(--hwe-light);
    }

    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active>button.hwe__btn-primary {
        background: var(--hwe-primary);
    color: var(--hwe-verdun-green);
    }

    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box>button.hwe__btn-primary:hover {
        background: var(--hwe-verdun-green);
        color: var(--hwe-light);
    }

    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box {
        background-color: var(--hwe-light);
    }

    .hwe__light-theme .hwe_plan_Box .hwe__plan-subscribe-box:hover {
        background: linear-gradient(var(--hwe-light) 0 0) padding-box, linear-gradient(to right, var(--hwe-primary), var(--hwe_light-blue)) border-box;
    }

    .hwe_plan_Box .hwe__plan-subscribe-box.hwe__active:hover {
        background: linear-gradient(var(--hwe-verdun-green) 0 0) padding-box, linear-gradient(to right, var(--hwe-primary), var(--hwe_light-blue)) border-box !important;
    }

    .hwe_distribution_Features>.hwe_plan_mxwidth {
        padding: 0 4rem;
        background-color: var(--hwe-light);
    }

    .hwe__dark-theme .hwe_distribution_Features>.hwe_plan_mxwidth {
        background-color: #0D0D0D;
    }

    .hwe_distribution_table .hwe__plan-table {
        max-height: min(calc(100vh - 29.4rem), 58.6rem);
        overflow-y: auto;
        min-height: min(58.6rem);
    }

    .hwe_distribution_table .hwe__plan-table table {
        width: 100%;
    }

    .hwe_distribution_table .hwe__plan-table table th {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        padding-bottom: 1.3rem;
        padding-top: 1.3rem;
    }

    .hwe_distribution_table .hwe__table-bagde--btn {
        display: inline-flex;
        background: rgba(16, 113, 176, 0.15);
        border-radius: 4px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 500;
        padding: 0.6rem 1rem;
        color: var(--hwe-verdun-green);
        align-items: center;
        transition: .3s ease-in-out;
    }

    .hwe__dark-theme .hwe_distribution_table .hwe__table-bagde--btn {
        background: rgba(255, 255, 255, 0.1);
        color: var(--hwe-light);
    }

    .hwe__dark-theme .hwe_distribution_table .hwe__bagde-icon-df,
    .hwe__dark-theme .hwe_distribution_table .hwe__bagde-icon-userart,
    .hwe__dark-theme .hwe_distribution_table .hwe__bagde-icon-edu,
    .hwe__dark-theme .hwe_distribution_table .hwe__bagde-icon-cldr,
    .hwe__dark-theme .hwe_distribution_table .hwe__bagde-icon-play {
        filter: brightness(0) invert(1);
    }

    .hwe_distribution_table .hwe__bagde-icon-df {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.86054 5.90441C2.97304 6.01691 3.11554 6.06941 3.25804 6.06941C3.40054 6.06941 3.54304 6.01691 3.65554 5.90441L5.90554 3.65441C6.12304 3.43691 6.12304 3.07691 5.90554 2.85941C5.68804 2.64191 5.32804 2.64191 5.11054 2.85941L3.25804 4.71191L2.90554 4.35941C2.68804 4.14191 2.32804 4.14191 2.11054 4.35941C2.00593 4.46527 1.94727 4.60809 1.94727 4.75691C1.94727 4.90574 2.00593 5.04856 2.11054 5.15441L2.86054 5.90441Z' fill='%231A3A4F'/%3E%3Cpath d='M16.5146 5.54446H8.54338C8.21656 5.54446 7.94554 5.23846 7.94554 4.86946C7.94554 4.50046 8.21656 4.19446 8.54338 4.19446H16.5146C16.8414 4.19446 17.1125 4.50046 17.1125 4.86946C17.1125 5.23846 16.8414 5.54446 16.5146 5.54446Z' fill='%231A3A4F'/%3E%3Cpath d='M8.54338 10.7945H16.5146C16.8414 10.7945 17.1125 10.4885 17.1125 10.1195C17.1125 9.75046 16.8414 9.44446 16.5146 9.44446H8.54338C8.21656 9.44446 7.94554 9.75046 7.94554 10.1195C7.94554 10.4885 8.21656 10.7945 8.54338 10.7945Z' fill='%231A3A4F'/%3E%3Cpath d='M8.54338 16.0445H16.5146C16.8414 16.0445 17.1125 15.7385 17.1125 15.3695C17.1125 15.0005 16.8414 14.6945 16.5146 14.6945H8.54338C8.21656 14.6945 7.94554 15.0005 7.94554 15.3695C7.94554 15.7385 8.21656 16.0445 8.54338 16.0445Z' fill='%231A3A4F'/%3E%3Cpath d='M3.25804 11.3194C3.11554 11.3194 2.97304 11.2669 2.86054 11.1544L2.11054 10.4044C2.00593 10.2986 1.94727 10.1557 1.94727 10.0069C1.94727 9.85809 2.00593 9.71527 2.11054 9.60941C2.32804 9.39191 2.68804 9.39191 2.90554 9.60941L3.25804 9.96191L5.11054 8.10941C5.32804 7.89191 5.68804 7.89191 5.90554 8.10941C6.12304 8.32691 6.12304 8.68691 5.90554 8.90441L3.65554 11.1544C3.54304 11.2669 3.40054 11.3194 3.25804 11.3194Z' fill='%231A3A4F'/%3E%3Cpath d='M2.86054 16.4044C2.97304 16.5169 3.11554 16.5694 3.25804 16.5694C3.40054 16.5694 3.54304 16.5169 3.65554 16.4044L5.90554 14.1544C6.12304 13.9369 6.12304 13.5769 5.90554 13.3594C5.68804 13.1419 5.32804 13.1419 5.11054 13.3594L3.25804 15.2119L2.90554 14.8594C2.68804 14.6419 2.32804 14.6419 2.11054 14.8594C2.00593 14.9653 1.94727 15.1081 1.94727 15.2569C1.94727 15.4057 2.00593 15.5486 2.11054 15.6544L2.86054 16.4044Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
        background-size: 1.6rem 1.5rem;
        width: 1.6rem;
        height: 1.5rem;
    }

    .hwe_distribution_table .hwe__bagde-icon-userart {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.39716 14.2663C1.39716 12.8518 1.95906 11.4953 2.95925 10.4951C3.95945 9.49488 5.316 8.93298 6.73049 8.93298C8.14498 8.93298 9.50153 9.49488 10.5017 10.4951C11.5019 11.4953 12.0638 12.8518 12.0638 14.2663H10.7305C10.7305 13.2054 10.3091 12.188 9.55892 11.4379C8.80877 10.6877 7.79135 10.2663 6.73049 10.2663C5.66962 10.2663 4.65221 10.6877 3.90206 11.4379C3.15192 12.188 2.73049 13.2054 2.73049 14.2663H1.39716ZM6.73049 8.26631C4.52049 8.26631 2.73049 6.47631 2.73049 4.26631C2.73049 2.05631 4.52049 0.266314 6.73049 0.266314C8.94049 0.266314 10.7305 2.05631 10.7305 4.26631C10.7305 6.47631 8.94049 8.26631 6.73049 8.26631ZM6.73049 6.93298C8.20382 6.93298 9.39716 5.73965 9.39716 4.26631C9.39716 2.79298 8.20382 1.59965 6.73049 1.59965C5.25716 1.59965 4.06382 2.79298 4.06382 4.26631C4.06382 5.73965 5.25716 6.93298 6.73049 6.93298ZM15.0958 0.122314C15.7346 1.4102 16.066 2.82871 16.0638 4.26631C16.0638 5.75498 15.7152 7.16231 15.0958 8.41031L13.9992 7.61298C14.4826 6.56362 14.7322 5.42169 14.7305 4.26631C14.7321 3.11095 14.4825 1.96904 13.9992 0.919648L15.0958 0.122314ZM12.8945 1.72231C13.2274 2.52909 13.3983 3.39354 13.3972 4.26631C13.3983 5.13909 13.2274 6.00354 12.8945 6.81031L11.7765 5.99698C11.9673 5.43994 12.0644 4.85512 12.0638 4.26631C12.0646 3.67755 11.9677 3.09273 11.7772 2.53565L12.8945 1.72231Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
        background-size: 1.6rem 1.5rem;
        width: 1.6rem;
        height: 1.5rem;
    }

    .hwe_distribution_table .hwe__bagde-icon-edu {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8438 2.19857C14.3659 2.11626 13.882 2.07389 13.3971 2.0719C11.7427 2.07055 10.1228 2.54495 8.73044 3.43857C7.33454 2.55668 5.71488 2.09392 4.06378 2.10524C3.57887 2.10722 3.09498 2.14959 2.61711 2.2319C2.46058 2.25889 2.31883 2.34087 2.21739 2.4631C2.11594 2.58532 2.06147 2.73975 2.06378 2.89857V10.8986C2.06235 10.9965 2.08253 11.0936 2.12288 11.1829C2.16323 11.2721 2.22275 11.3514 2.29723 11.4151C2.3717 11.4787 2.45928 11.5252 2.55375 11.5511C2.64821 11.5771 2.74724 11.5819 2.84378 11.5652C3.79912 11.3998 4.77791 11.4273 5.72249 11.646C6.66706 11.8646 7.55833 12.2701 8.34378 12.8386L8.42378 12.8852H8.49711C8.57105 12.916 8.65035 12.9319 8.73044 12.9319C8.81054 12.9319 8.88984 12.916 8.96378 12.8852H9.03711L9.11711 12.8386C9.89708 12.2574 10.7858 11.8388 11.7305 11.6075C12.6753 11.3761 13.6569 11.3368 14.6171 11.4919C14.7136 11.5086 14.8127 11.5038 14.9071 11.4778C15.0016 11.4518 15.0892 11.4054 15.1637 11.3417C15.2381 11.2781 15.2977 11.1988 15.338 11.1095C15.3784 11.0203 15.3985 10.9232 15.3971 10.8252V2.82524C15.3902 2.67334 15.3315 2.52838 15.2309 2.41439C15.1302 2.30041 14.9936 2.22426 14.8438 2.19857ZM8.06378 11.0586C6.83037 10.4097 5.45746 10.071 4.06378 10.0719H3.39711V3.40524C3.61915 3.39244 3.84174 3.39244 4.06378 3.40524C5.48603 3.40366 6.87725 3.82103 8.06378 4.60524V11.0586ZM14.0638 10.0986H13.3971C12.0034 10.0977 10.6305 10.4364 9.39711 11.0852V4.60524C10.5836 3.82103 11.9749 3.40366 13.3971 3.40524C13.6191 3.39244 13.8417 3.39244 14.0638 3.40524V10.0986ZM14.8438 12.8652C14.3659 12.7829 13.882 12.7406 13.3971 12.7386C11.7427 12.7372 10.1228 13.2116 8.73044 14.1052C7.33812 13.2116 5.7182 12.7372 4.06378 12.7386C3.57887 12.7406 3.09498 12.7829 2.61711 12.8652C2.53033 12.879 2.44713 12.9098 2.37229 12.9558C2.29745 13.0019 2.23244 13.0623 2.18102 13.1335C2.1296 13.2048 2.09277 13.2855 2.07265 13.371C2.05253 13.4565 2.04951 13.5452 2.06378 13.6319C2.09766 13.805 2.19877 13.9577 2.34497 14.0564C2.49117 14.1551 2.67054 14.1918 2.84378 14.1586C3.79912 13.9932 4.77791 14.0206 5.72249 14.2393C6.66706 14.458 7.55833 14.8635 8.34378 15.4319C8.45669 15.5123 8.59184 15.5555 8.73044 15.5555C8.86905 15.5555 9.0042 15.5123 9.11711 15.4319C9.90256 14.8635 10.7938 14.458 11.7384 14.2393C12.683 14.0206 13.6618 13.9932 14.6171 14.1586C14.7904 14.1918 14.9697 14.1551 15.1159 14.0564C15.2621 13.9577 15.3632 13.805 15.3971 13.6319C15.4114 13.5452 15.4084 13.4565 15.3882 13.371C15.3681 13.2855 15.3313 13.2048 15.2799 13.1335C15.2284 13.0623 15.1634 13.0019 15.0886 12.9558C15.0138 12.9098 14.9306 12.879 14.8438 12.8652Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
        background-size: 1.6rem 1.5rem;
        width: 1.6rem;
        height: 1.5rem;
    }

    .hwe_distribution_table .hwe__bagde-icon-cldr {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0638 2.70308H14.7304C14.9073 2.70308 15.0768 2.77332 15.2019 2.89835C15.3269 3.02337 15.3971 3.19294 15.3971 3.36975V14.0364C15.3971 14.2132 15.3269 14.3828 15.2019 14.5078C15.0768 14.6328 14.9073 14.7031 14.7304 14.7031H2.73045C2.55364 14.7031 2.38407 14.6328 2.25904 14.5078C2.13402 14.3828 2.06378 14.2132 2.06378 14.0364V3.36975C2.06378 3.19294 2.13402 3.02337 2.25904 2.89835C2.38407 2.77332 2.55364 2.70308 2.73045 2.70308H5.39711V1.36975H6.73045V2.70308H10.7304V1.36975H12.0638V2.70308ZM10.7304 4.03642H6.73045V5.36975H5.39711V4.03642H3.39711V6.70308H14.0638V4.03642H12.0638V5.36975H10.7304V4.03642ZM14.0638 8.03642H3.39711V13.3698H14.0638V8.03642Z' fill='%231A3A4F'/%3E%3C/svg%3E%0A");
        background-size: 1.6rem 1.5rem;
        width: 1.6rem;
        height: 1.5rem;
    }

    .hwe_distribution_table .hwe__bagde-icon-play {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_960)'%3E%3Cpath d='M5.69315 3.75441C5.02653 3.36154 4.18542 3.84215 4.18542 4.61593V12.5443C4.18542 13.3181 5.02652 13.7987 5.69315 13.4058L12.4197 9.44165C13.076 9.05483 13.076 8.10544 12.4197 7.71862L5.69315 3.75441Z' fill='%231A3A4F' stroke='%231A3A4F' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_960'%3E%3Crect width='15' height='16' fill='white' transform='translate(0.230469 0.580078)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 1.6rem 1.5rem;
        width: 1.6rem;
        height: 1.5rem;
    }

    .hwe_distribution_table .hwe__table--bagde-icon {
        display: block;
        margin-right: 0.8rem;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .hwe_distribution_table .hwe__plan-table table td {
        padding-bottom: 1.3rem;
        padding-top: 1.3rem;
    }

    .hwe_distribution_table .hwe__table-icon-tick {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5589 1.98625C14.9327 1.61241 14.9327 1.00628 14.5589 0.632433C14.185 0.25859 13.5789 0.25859 13.205 0.632433L14.5589 1.98625ZM4.94712 10.2441L4.27026 10.9211C4.64412 11.2948 5.25027 11.2948 5.62412 10.921L4.94712 10.2441ZM1.79485 5.73805C1.42099 5.3642 0.814871 5.3642 0.441027 5.73805C0.0671837 6.11191 0.0671837 6.71794 0.441027 7.0918L1.79485 5.73805ZM13.205 0.632433L4.27026 9.56724L5.62412 10.921L14.5589 1.98625L13.205 0.632433ZM0.441027 7.0918L4.27026 10.9211L5.62412 9.56724L1.79485 5.73805L0.441027 7.0918Z' fill='%231FEAC8'/%3E%3C/svg%3E");
        background-size: 15px 12px;
    }

    .hwe_distribution_table .hwe__table-icon-remove {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.520459 0.323183C0.813349 0.0302931 1.28823 0.0302931 1.58112 0.323183L5.05078 3.79281L8.52048 0.323183C8.81338 0.0302931 9.28818 0.0302931 9.58108 0.323183C9.87398 0.616073 9.87398 1.09095 9.58108 1.38384L6.11148 4.85351L9.58108 8.32321C9.87398 8.61611 9.87398 9.09091 9.58108 9.38381C9.28818 9.67671 8.81338 9.67671 8.52048 9.38381L5.05078 5.91421L1.58111 9.38381C1.28822 9.67671 0.813339 9.67671 0.520449 9.38381C0.227559 9.09091 0.227559 8.61611 0.520449 8.32321L3.99008 4.85351L0.520459 1.38384C0.227559 1.09095 0.227559 0.616073 0.520459 0.323183Z' fill='%23F1627C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.520459 0.323183C0.813349 0.0302931 1.28823 0.0302931 1.58112 0.323183L5.05078 3.79281L8.52048 0.323183C8.81338 0.0302931 9.28818 0.0302931 9.58108 0.323183C9.87398 0.616073 9.87398 1.09095 9.58108 1.38384L6.11148 4.85351L9.58108 8.32321C9.87398 8.61611 9.87398 9.09091 9.58108 9.38381C9.28818 9.67671 8.81338 9.67671 8.52048 9.38381L5.05078 5.91421L1.58111 9.38381C1.28822 9.67671 0.813339 9.67671 0.520449 9.38381C0.227559 9.09091 0.227559 8.61611 0.520449 8.32321L3.99008 4.85351L0.520459 1.38384C0.227559 1.09095 0.227559 0.616073 0.520459 0.323183Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
        background-size: 15px 12px;
    }

    .hwe_distribution_table .hwe__table-icon-tick,
    .hwe_distribution_table .hwe__table-icon-remove {
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2A2A2D;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.4rem;
        line-height: 1;
    }

    .hwe_col-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .hwe__Add_method.hwe_card_btn>button {
        background: url({% static 'dashboard/images/add-card-plus.svg' %});
        background-size: 2.2rem;
        background-position: center;
    }

    .hwe__dark-theme .hwe__Add_method.hwe_card_btn>button {
        filter: brightness(0) invert(1);
    }

    .hwe_addcard_popup_wrapper {
        max-width: 49.3rem;
    }

    .hwe_addcard_popup_wrapper .hwe_custom_popup {
        padding: 3rem;
    }

    .hwe_addcard_popup_wrapper .hwe_custom_popup .modal-body>h2 {
        margin-bottom: 0.8rem;
        line-height: 3rem;
    }

    .hwe_popup-form input {
        max-width: 43.3rem;
    }

    .hwe_addcard_popup_wrapper .hwe_custom_popup .modal-footer {
        padding-top: 1.2rem;
        gap: 2rem;
    }

    .change_your_plan_wrapper .hwe_custom_popup {
        padding: 6rem 5rem;
    }

    .change_your_plan_wrapper {
        max-width: 69.2rem;
    }

    .change_your_plan_wrapper .modal-header {
        position: absolute;
        right: 3rem;
        top: 3rem;
    }

    .hwe__dark-theme .change_your_plan_wrapper .hwe_header_close>button.btn-close {
        filter: brightness(0) invert(1);
    }

    .change_your_plan_wrapper .modal-body {
        gap: 2rem;
    }

    .change_your_plan_wrapper .hwe_header_btn span.btn-close {
        background-image: url({% static 'dashboard/images/change-plan.svg' %});
    }

    .hwe-primary_text {
        color: var(--hwe-primary);
    }

    .hwe__light-theme .hwe_input_switch_plan {
        background-color: var(--hwe-bg-gray);
    }

    .hwe__dark-theme .hwe_input_switch_plan {
        background-color: var(--hwe-bg-gray);
    }

    .hwe_distribution_table .hwe__table-icon-tick,
    .hwe_distribution_table .hwe__table-icon-remove {
        border-color: var(--hwe-light2);
    }

    .hwe__dark-theme .hwe_distribution_table .hwe__table-icon-tick,
    .hwe__dark-theme .hwe_distribution_table .hwe__table-icon-remove {
        border-color: var(--hwe-body-bg);
    }

    .hwe__light-theme .hwe_distribution_table .hwe__plan-table table th {
        border-bottom-color: var(--hwe-bg-gray4);
    }

    @media (max-width:768px) {

        .hwe__payment_card,
        .hwe__Add_Payment {
            max-width: 32rem;
        }

        .hwe_cardholder_info span {
            font-size: 1rem;
            font-weight: 400 !important;
        }

        .hwe_cardholder_info h5 {
            font-size: 1.4rem;
        }

        .hwe_card_digit>span:last-child {
            font-size: 1.3rem;
        }

        .hwe_custom_popup_wrapper,
        .hwe_addcard_popup_wrapper,
        .change_your_plan_wrapper {
            max-width: 32rem;
            margin: auto;
        }

        .hwe_custom_popup {
            padding: 1.6rem;
        }

        .hwe_addcard_popup_wrapper .hwe_custom_popup {
            padding: 2rem;
        }

        .modal-footer {
            flex-wrap: nowrap;
        }

        .hwe_popup-form .modal-footer {
            flex-wrap: wrap;
        }

        .hwe_addcard_popup_wrapper .hwe_custom_popup .modal-footer {
            padding-top: 0.8rem;
            gap: 2rem;
        }

        .hwe_custom_popup .modal-footer>button {
            min-width: 13.4rem;
            padding: 10px 20px;
        }

        .hwe_header_btn {
            width: 6rem;
            height: 6rem;
            margin-bottom: 1.2rem;
        }

        .hwe_custom_popup .modal-body p {
            font-size: 1.2rem;
        }

        .hwe_settings_main>.hwe__pagetitle h1 {
            display: flex;
            align-items: center;
        }

        .hwe_plan_Box .hwe__btn {
            padding: 1rem !important;
        }

        .hwe_plan_Box .hwe__plan-subscribe-box>button.hwe__btn {
            font-size: 1.4rem;
        }

        .hwe_custom_popup .modal-footer>button {
            font-size: 1.4rem;
        }

        .hwe_addcard_popup_wrapper .hwe_custom_popup .modal-body>h2 {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }

        .change_your_plan_wrapper .hwe_custom_popup {
            padding: 1.6rem;
        }

        .change_your_plan_wrapper .modal-header {
            right: 1.6rem;
            top: 1.6rem;
            z-index: 2;
        }

        .change_your_plan_wrapper .hwe_custom_popup .modal-footer>button {
            min-width: 11.2rem;
        }

        .change_your_plan_wrapper .hwe_custom_popup .modal-footer {
            padding-left: 0;
            padding-right: 0;
        }

        .hwe_distribution_Features>.hwe_plan_mxwidth {
            padding: 0 2rem;
        }

        .hwe__plan-subscribe {
            padding-bottom: 1.2rem;
            padding-top: 0.5rem;
        }

        .change_your_plan_wrapper .hwe_custom_popup .modal-footer {
            padding-left: 0;
            padding-right: 0;
        }

        .change_your_plan_wrapper .hwe_custom_popup .modal-footer {
            gap: 0.8rem;
        }

        .hwe__plan-table table,
        .hwe__plan-table table tbody {
            display: block;
        }

        .hwe__plan-table table tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .hwe__plan-table table tr th {
            width: 100%;
        }

        .hwe__plan-table table td.hwe__plan--td-mob-full {
            width: 100%;
            color: var(--hwe-light2);
            text-align: left;
        }

        .hwe__plan-table table td {
            width: 33.33%;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    @media (max-width:991px) {
        .hwe__Add_Payment {
            min-height: 22.1rem;
        }
    }

    @media (max-width:576px) {

        .hwe__payment_card,
        .hwe__Add_Payment {
            margin-left: auto;
            margin-right: auto;
        }

        .hwe_withdrawal_Amount>.hwe__h1 {
            font-size: 3rem;
        }

        .hwe_withdrawal_Amount>div:last-child {
            margin-bottom: 0.5rem;
        }

        .hwe_amountIcon {
            margin-top: 0.5rem;
        }

        .hwe_password_wrapper {
            padding: 2rem;
        }

        .hwe_Change_Password>h3 {
            font-size: 1.6rem;
            margin-bottom: 1.8rem;
        }

        .hwe__plan-subscribe-box img {
            margin-bottom: 1rem;
        }

        .hwe_plan_Box .hwe__plan-price,
        .hwe_plan_Box .hwe__currency {
            font-size: 3rem;
            line-height: 3.6rem;
        }

        .hwe__plan-subscribe-box h4 {
            font-size: 1.4rem;
        }

        .hwe_Change_Password ul {
            margin-bottom: 0.5rem;
        }
    }

    @media (max-width: 969px) {
        .hwe__plan-subscribe-box {
            padding: 1rem !important;
        }
    }

    @media (max-width:906px) {
        .hwe_col-auto {
            width: 33%;
        }

        .hwe_plan_Box .hwe__plan-limit {
            margin-top: 0;
        }

        .hwe_plan_Box .hwe__btn {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width:768px) and (max-width:800px) {
        .hwe_plan_Box .hwe__plan-subscribe-box>div:first-child {
            display: flex !important;
            flex-direction: column !important;
            gap: 1rem;
        }
    }

    @media (max-width:450px) {

        .hwe_plan_Box .hwe__plan-price,
        .hwe_plan_Box .hwe__currency {
            font-size: 2rem;
            line-height: 3rem;
        }

        .hwe_plan_Box .hwe__plan-subscribe-box>button.hwe__btn {
            font-size: 1rem;
        }

        .hwe_plan_Box .hwe__btn {
            padding: 0.9rem !important;
        }
    }

    @media (min-width:768px) and (max-width:852px) {
        .hwe_plan_Box .hwe__plan-subscribe-box>button.hwe__btn {
            font-size: 1.4rem;
        }

        .hwe_plan_Box .hwe__btn {
            padding: 1rem !important;
        }
    }

    /* Add some basic style for Stripe Elements */
    .StripeElement {
        box-sizing: border-box;
        height: 50px;
        padding: 15px 12px;
        border: 1px solid rgb(80.8%, 83.1%, 85.5%);
        background-color: white;
        border-radius: 0.5rem;
        width: 100%;
        margin-bottom: 20px;
    }

    #submit-button:disabled {
        /* Styles for the disabled state */
        background-color: #cccccc;
        cursor: not-allowed;
    }
    /* internal for disable link */
    .disable-link {
        pointer-events: none;
    }
    .wrapper {
    cursor: not-allowed;
}
